$primary-font: 'Public Sans', sans-serif;

// Colors
$sidebar-bgcolor: #2a2f4d;
$white: #ffffff;
$light-grey: #f5f6f8;
$blue: #009afe;
$light-blue: #ccebff;
$pink: #f378f2;

$todo-BL-color: #5699f8;
$todo-add-color: #aaccfc;

$BR-color: #e6e6e6;
$BR-add-color: #f0f0f0;

$orange: #fdab3d;
$light-orange: #fec578;

$red: #e2445b;
$light-red: #eb7c8d;

$green: #01c875;
$light-green: #4ed9a0;

$sky-blue: #579bfc;
$light-sky-blue: #8ab9fd;

$black: #333333;
$violet: #794bd1;
$grey: #c4c4c4;

$font-color: #555;