@import "./variables";

.cntxt-nav-wrapper {
    width: 240px;
    // width: 30px;
    margin-left: -8px;
    border-radius: 8px 0 0 0;
    border-right: 1px solid #ccc;
    box-sizing: border-box;
    background-color: $white;
}

.cntxt-top {
    padding: 10px;
}

.cntxt-nav-title {
    font-weight: 500;
    padding: 5px 15px;
    color: $font-color;
}

.filter-board-search {
    padding: 5px 10px;
    display: flex;
    input {
        border: none;
        outline: none;
        width: 150px;
        margin-left: 5px;
    }
}

.menu-items {
    .item {
        color: $font-color;
        padding: 0 10px;
        margin-bottom: 10px;
        font-weight: 500;
        justify-content: space-between;
        align-items: center;
    }
}

.home-icon {
    border-radius: 5px;
    padding: 2px;
    width: 20px;
    height: 20px;
    color: $white;
    background-color: $pink;
}

.cntxt-bottom {
    position: fixed;
    bottom: 10px;
    width: 240px;
    color: $font-color;
    font-weight: 500;
    .dashboard {
        margin: 10px 12px;
    }
    .app-icons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}

.sub-menu-wrap {
    margin-left: 15px;
    .sub-items {
        font-size: 14px;
        font-weight: normal;
        margin: 5px;
        padding: 5px;
        cursor: pointer;
    }
    .active {
        color: $blue;
        background-color: $light-blue;
        border-radius: 5px;
    }
}

.toggle-button {
    left: 291px;
    box-shadow: rgba(9, 30, 66, 0.08) 0px 0px 0px 1px, rgba(9, 30, 66, 0.08) 0px 2px 4px 1px;
    color: rgb(107, 119, 140);
    cursor: pointer;
    position: absolute;
    top: 15px;
    transform: translate(-50%);
    width: 24px;
    background: 0px center white;
    border-radius: 50%;
}

.left-arrow-align {
    position: relative;
    left: 8px;
}

.toggle-button:hover {
    background-color: rgb(76, 154, 255);
    color: white;
}